header.main{
  text-align: center;
  padding: 20px;
}

header.main .bannerimg{
  max-width: 150px;
}
header.main .bannerimg img{
  width: 150px;
}

nav.main .menu a:hover{
  text-decoration: none;
}

.menu{}
.menu li{
  display: inline-block;
}
